.main {
    grid-area: c;
    background-color: rgb(194, 207, 231);
}

.main img {
    display: block;
    width: 100%;
}

.post {
    padding: 10px;
    margin: 10px;
    width: 30%;
    background-color: dodgerblue;
    border-radius: 10%;
}